/* Add these to your CSS file */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin:0 auto;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.button:disabled {
  background-color: #ccc;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: white;  /* White text color */
  margin-bottom: 16px;
}


.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.mt-4 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 32px;
}

.text-green-600 {
  color: #48bb78;
}
